.change_password {
    width: 100%;
    height: 100%;
    padding: 3%;
}

.change_password h2 {
    margin-top: 10vh;
}

.change_password form {
    margin-top: 10vh;
}

.change_password .input-group-text {
    width: 35%;
}

.change_password .error{
    color: #dc3545;
}