<link rel="stylesheet" href="{{check_css}}">
<div class="check">
    <h2>内容確認</h2>
    <div class="profile">
        <div class="card">
            <img src="{{img}}" class="card-img-top" alt="">
            <div class="card-body">
                <dl>
                    <dt>ユーザーネーム</dt>
                    <dd>{{name}}</dd>
                    <dt>メールアドレス</dt>
                    <dd>{{email}}</dd>
                    <dt>パスワード</dt>
                    <dd>・・・・・・・・</dd>
                </dl>
            </div>
        </div>
    </div>
    <div class="buttons">
        <a href="?confirm=true"><button class="btn btn-primary">登録する</button></a>
        <a href="index.php?action=rewrite"><button class="btn btn-warning">修正する</button></a>
    </div>
</div>
