<link rel="stylesheet" href="/statics/css/change_password.css">
<div class="change_password">
    <h2 class="mb-3">パスワード変更</h2>
    <form action="" method="post">
        <div class="input-group mb-3">
            <span class="input-group-text" id="basic-addon1">古いパスワード</span>
            <input name="old_pwd" type="password" class="form-control" placeholder="Old password" aria-label="Old password" required>
            <span class="error">{{old_pwd_incollect}}</span>
        </div>
        <div class="input-group mb-3">
            <span class="input-group-text" id="basic-addon1">新しいパスワード</span>
            <input name="new_pwd" type="password" class="form-control" placeholder="New password" aria-label="New password" required>
            <span class="error">{{pwd_length}}</span>
        </div>
        <div class="input-group mb-3">
            <span class="input-group-text" id="basic-addon1">確認用</span>
            <input name="new_pwd_cfm" type="password" class="form-control" placeholder="Confirm password" aria-label="Confirm password" required>
            <span class="error">{{new_pwd_incollect}}</span>
        </div>
        <button type="submit" class="btn btn-primary mb-3">変更する</button>
    </form>
</div>
<script src="/statics/js/change_password.js"></script>
