<!-- <div class="setting">
    <form action="" method="post" enctype="multipart/form-data">
        <div class="input-group">
            <label class="mb-3" for="inputImage">
                <img id="icon" src="{{icon_path}}">
            </label>
            <input type="file" class="from-control" id="inputImage" name="icon" accept="image/*">
        </div>
        <div class="input-group flex-nowrap mb-3">
            <span class="input-group-text" id="addon-wrapping">ユーザー名</span>
            <input type="text" class="form-control" aria-label="Username" aria-describedby="addon-wrapping" value="{{username}}" name="name">
        </div>
        <div class="input-group flex-nowrap mb-3">
            <span class="input-group-text" id="addon-wrapping">メールアドレス</span>
            <input type="text" class="form-control" aria-label="Username" aria-describedby="addon-wrapping" value="{{email}}" name="email">
        </div>
        <button type="submit" class="btn btn-primary mb-3">適用する</button>
    </form>
    <a href="/setting/change_password.php"><button class="btn btn-warning mb-3">パスワードを変更する</button></a>
    <a href="" aria-disabled="true" class="disabled"><button class="btn btn-danger mb-3 disabled" aria-disabled="true">アカウントを消去する</button></a>
</div>
<link rel="stylesheet" href="/statics/css/setting.css">
<script src="/statics/js/setting.js"></script> -->
